body{
    background-image: linear-gradient(to right, #ef745c , #34073d);;
}

h1{
    color: #FBF3E4;
    font-size: 50px;
}
h2{
    color: #FBF3E4;
}
h3{
    color: #fff;
    font-size: 30px;
}
img{
    height: 110px;
    width: 110px;
    border-radius: 100px;
    margin-left: 20px;
}
img:hover{
    cursor: pointer;
}
div{
    margin: auto;
    text-align: center;
}


@media screen and (max-width: 480px) {
    h1{
    
        font-size: 30px;
    }   
    h3{
    
        font-size: 25px;
    }
    img{
        height: 100px;
        width: 100px;
        border-radius: 50px;
    
    }
}   